BODY {
    font-size: medium;
    font-style: italic;
    background-color: white;
}

#navegador {
    border-style: solid;
    border-color: red;
    border-width: 2px;
    background-color:#79DAE8;
}

#navegador .logo {
    float: left;
}

#navegador .logo img {
    width: 50px;
}

#navegador ul {
    list-style-type: none;
    text-align: left;
}

#navegador li {
    display: inline;
    text-align: left;
    margin: 0 0 0 0;
}

#navegador li a {
    padding: 2px 7px 2px 7px;
    color: black;
    background-color: transparent;
    text-decoration: none;
}

#navegador li a:hover {
    color: white;
}

#descripcion {
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    margin-top: 10px;
}

#descripcion .titulo p {
    text-align: center;
}

#descripcion .info {
    text-align: center;
    text-indent: 2% 2% 2% 2%;
}

#marcas {
    border-style: solid;
    border-color: green;
    border-width: 2px;
    margin-top: 20px;
    min-height: 300px;
}

#marcas .titulo {
    text-align: center;
}

#marcas .imagenes {
    float: center;
}

#marcas .imagenes img {
    width: 200px;
}

#marcas .imagenes img:hover {
    border-radius: 50%;
    width: 200px;
}

#footer {
    border-style: solid;
    border-color: pink;
    border-width: 2px;
    margin-top: 100%;
    background-color: #2155CD;
}

#footer .logo {
    float: left;
}

#footer .logo img {
    width: 50px;
}

#footer .redes ul{
    list-style-type: none;
    text-align: left;
}

#footer .redes li{
    display: inline;
    text-align: left;
    margin: 0 0 0 0;
}

#footer .redes li a{
    padding: 2px 10px 2px 10px;
    color: black;
    background-color: transparent;
    text-decoration: none;
}

#footer .redes li a:hover{
    color: white;
}

#recetas{
    border-style: solid;
    border-color: pink;
    border-width: 2px;
    margin-top: 20px;
}

#recetas .imagenes table tr td img{
    width: 200px;
}